<% provide(:title, 'About') %>

<h1>About</h1>
<p>Site made with Ruby on Rails and the end of the module with the purpose
of reasuring what was learned thanks to the book Ruby on Rails Tutorial, by
Michael Hartl.</p>
