<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to the Static Pages Home</h1>
  <p>This is the sample app, feel free to wonder around.</p>
  <button type='button' class='btn btn-secondary' data-toggle='tooltip'
                           title='Tooltip on top'>
  Tooltip on top?
  </button>
  <% unless logged_in? %>
    <%= link_to  "Sign up", signup_path,
        class: "btn btn-danger btn-lg d-block font-weight-bold mt-3 mx-auto w-50" %>
  <% end %>
</div>