<% provide(:title, 'Home') %>

<h1>Welcome to the Static Pages Home</h1>
<p>This is the sample app, feel free to wonder around.</p>
<button type='button' class='btn btn-secondary' data-toggle='tooltip' data-placement='top' title='Tooltip on top'>
Tooltip on top ??
</button>