<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<% @user.attributes.each do |att| %>
  <% unless att[0] == 'password_digest' %>
    <%= "#{att[0]}: #{att[1]}" %>
    <br/>
  <% end %>
<% end %>
T.now: <%= Time.now %>