/* Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*/

h1 { color: rgb(1, 94, 131); }

body { height: 100vh; }

.navbar {
  background-color: #2b2d2e;
}

.debug-container {
  margin-top: calc(100vh*0.12);
  padding: 15px;
  .debug_dump {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 15px;
  }
}